<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('nav') %>
    <!-- you dont nee to give your object you can use it local.id local.madhu  is work on if rlse condition  -->
    <h1> i am render by ejs</h1>
    <h4> <%= data.madhu   %></h4>
    <h4 style=" text : text-black"> <%= locals.madhu   %></h4>
    <%=  data.data %>
</body>
</html>